<div class="nav_background">
  <div class="span3 barname_height">
    <%= link_to bar_box.name, edit_bar_path( bar_box) %>
  </div><!-- span3 -->

  <div class="span4 offset4">
    <%= link_to 'Embedding Code', embed_code_bar_path( bar_box), class: 'btn btn-info btn-small barname_height', remote: true %>

    <%= link_to 'Destroy', bar_box, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_btn' %>
  </div>
  <br style="clear:both;">
</div><!-- nav_background -->
