<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Manage</a></li>
    <li><a href="#tab2" data-toggle="tab">Stats</a></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
    	<div class="red">
      		<div class="row padding_btm">
	      		<div class="span3">
	      			<h4>Fizzy Bar</h4>
	      		</div><!-- span3 -->
		      		<div class="span9 newbar_btn_alignright">
		      		<%= link_to 'Create New Bar', new_bar_path, class: 'btn btn-info' %>
		      		</div><!-- span9 newbar_btn_alignright -->
      			</div><!-- row -->

			<div class="row show-grid embeded_padding">
			<div class="nav_background">
					<div class="span3">
					<%= link_to bar_box.name, edit_bar_path( bar_box) %>
					</div><!-- span3 -->
					<div class="span4 offset4">
			  		<%= link_to 'Embedding Code', embed_code_bar_path( bar_box), class: 'btn btn-info btn-small', remote: true %>
			 
			  		<%= link_to 'Destroy', bar_box, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete_btn' %>
			  	</div>
			  	<br style="clear:both;">
			</div>
			</div> <!-- row	 -->

  		</div><!-- red -->
    </div><!-- tab-pane -->

    <div class="tab-pane" id="tab2">
      <p>Howdy, I'm in Section 2.</p>
    </div>

  </div><!-- tab-content -->
</div><!-- tabbable -->

