<%= simple_form_for( [ @user, @bar ] ) do |f| %>
  <%= f.error_notification %>
<div class="title">
<h1>Title</h1>
 <%= f.input :name, input_html: { class: 'title_input_width' }, :placeholder => "My first Navigator Bar", label: false %>
</div>
<% end %>