<%= simple_form_for( [ @user, @bar ] ) do |f| %>
  <%= f.error_notification %>
  
<div class="title">
	<h1>Title</h1>
	 <%= f.input :name, input_html: { class: 'title_input_width' }, :placeholder => "My first Navigator Bar", label: false %>
	 <p>Preview</p>
	 <div class="preview_container">
	 	<div class="nav_preview">
	 		<p class="message">Hello type your message below</p>
	 		<%= link_to "Try it out", "#", :class => 	"message_link" %>
	 	</div>
	</div>
</div><!-- title -->

<div class="message_container">
	<div class="nav_changes">
		nav changes
	</div><!-- nav_changes -->

	<div class="custom_theme">
		<div class="tabbable"> <!-- Only required for left/right tabs -->
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#tab1" data-toggle="tab">Themes</a></li>
		    <li><a href="#tab2" data-toggle="tab">Custom</a></li>
		  </ul>
		  <div class="tab-content">
		    <div class="tab-pane active" id="tab1">
		      <p>I'm in Section 1.</p>
		    </div>
		    <div class="tab-pane" id="tab2">
		      <p>Howdy, I'm in Section 2.</p>
		    </div>
		  </div>
		</div>
	</div>
</div><!-- message_container -->
<% end %>
