  <div class="managebarcontainer">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">

    <li class="active">
      <a href="#tab1" data-toggle="tab">Manage</a>
    </li>

    <li><a href="#tab2" data-toggle="tab">Status</a></li>
  </ul>

  <div class="tab-content">
    <!-- manage -->
    
    <div class="tab-pane active" id="tab1">
      <%= link_to 'Create New Bar', new_user_bar_path( @user ) , class: 'create_new_bar' %>
      <div class="managebar_list">
         <%= render partial: 'bar_box', collection: @bars %>
       
      </div>
      
    </div>
    <!-- status -->
    <div class="tab-pane" id="tab2">
     <%= render partial: 'stats_content' %>
    </div>
  </div>
</div>
</div> 

         


  <%# Light-box for Embedding Code %>
  <div id="myModal" class="modal hide fade popup_background" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header popup_heading">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      
      <h3 id="myModalLabel">EMBED YOUR CODE</h3>

      <p>Place this code anywhere in your <body> tag. You only need to do this once!</p>
      <%=link_to "Deploy Your Fizzy Bar toolbar Anywhere!", "#" %>
    </div>
    <div class="modal-body">
    </div>
    <div class="modal-footer poppup_close_background">
      <button class="btn btn-info">Copy</button>
      <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>


<%#= javascript_tag do %>
  <%# if params[:view] == "stats" %>
    <!-- $('#stats-link').click(); -->
  <%# end %>
<%# end %>
