<div class="createbar_leftcontent">

<h1>You have no Fizzy Bar
<%= link_to 'Create Your First Bar', new_user_bar_path( @user ), class: '' %>
</h1>

</div>
<div class="createbar_rightcontent">
<div class="getstarted_container">
GET STARTED
</div>

</div>