<div class="row-fluid show-grid stats_cols_background">
    <div class="span6 stats_cols_padding">
        <%= link_to stat_box.name, stat_box %>
    </div>
    <div class="span5">
        <div class="span6 offset6 stats_visit_cols_padding">
            <div class="span2 offset2"><%= stat_box.visitors.count_since( @days ) %></div>
            <div class="span2 offset2"><%= stat_box.hits_since( @days ) %></div>
            <div class="span1 offset1"><%= stat_box.hit_through_rate_since( @days ) %>%</div>
        </div>
    </div>
</div>
