<!-- stats content start -->
<div class="tab-pane" id="tab2">
    <div class="row show-grid embeded_padding">

        <h1 class="stats_heading">Stats</h1>
        <div class="stats_background">
            <div class="row-fluid show-grid">
                <div class="span12">
                    <small>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</small>
                </div><!-- span11 -->
            </div><!-- row -->
        </div><!-- stats_background -->

        <div class="stats_background">
            <div class="navbar">
              <div class="navbar-inner statsnav_background">
                <ul class="nav">
                    <li>
                        <%= link_to "Name", "#" %>
                    </li>

                </ul>
                <ul class="nav pull-right">
                    <li class="divider-vertical"></li>
                    <li><a href="#">Visits</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Hits</a></li>
                    <li class="divider-vertical"></li>
                    <li><a href="#">Hitthrough Rate</a></li>

                </ul>
            </div>

            <%= render partial: 'stat_box', collection: @bars %>

        </div>
    </div>

</div>
</div>
<!-- stats content end -->
