<h1>My bars</h1>

<table class="table table-hover">
  <tbody>
    <%= render partial: 'bar_box', collection: @bars %>
  </tbody>
</table>

<br /><br />

<%= link_to 'Create New Bar', new_bar_path, class: 'btn btn-primary' %>
