<%= simple_form_for @user, :html => { :class => '' } do |f| %>
<%#= f.input :name %>
<%= f.input :email %>
  <div class="form-actions embeded_padding">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
